[Unit]
Description=Run 4ok imports every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true
Unit=4ok-run-imports.service

[Install]
WantedBy=timers.target
