[Unit]
Description=Run fourok imports every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true
Unit=fourok-run-imports.service

[Install]
WantedBy=timers.target
